.defaultText {
  font-size: 32;
  font-family: System-Regular;
  font-weight: regular;
  text-length: 32;
}

.background {
  width: 100%;
  height: 100%;
  fill: black;
}

.tumbler_item_kg_1 {
  font-size: 100;
  font-family: System-Light;
  text-anchor: end;
  x: 50%+5;
}
#tumbler_label_kg_1 {
  fill: fb-lavender;
  font-size: 100;
  font-family: System-Light;
  y: 50%+38;
  x: 50%+15;
  text-anchor: middle;
}
#tumbler_label_kg_2 {
  fill: fb-lavender;
  font-size: 50;
  font-family: System-Light;
  text-length: 3;
  y: 50%+38;
  x: 50%+80;
  text-anchor: start;
}
.tumbler_item_kg_2 {
  font-size: 100;
  font-family: System-Light;
}

.tumbler_item_fat_1 {
  font-size: 100;
  font-family: System-Light;
  text-anchor: end;
  x: 50%-15;
}
#tumbler_label_fat_1 {
  fill: fb-lavender;
  font-size: 100;
  font-family: System-Light;
  y: 50%+38;
  x: 50%-5;
  text-anchor: middle;
}
#tumbler_label_fat_2 {
  fill: fb-lavender;
  font-size: 50;
  font-family: System-Light;
  y: 50%+38;
  x: 50%+60;
  text-anchor: start;
}
.tumbler_item_fat_2 {
  font-size: 100;
  font-family: System-Light;
}

#loader_spinner {
  x: 50%-25;
  y: 50%-40;
  width: 50;
  height: 50;
  fill: fb-white;
}

#loader_text{
  x: 50%;
  y: 50%+45;
  font-size: 30;
  text-length: 30;
  text-anchor: middle;
  fill: fb-lavender;
}