export const CLIENTID = "";
export const CLIENTSECRET = "";
export const AUTHHEADER = ""
export const REQUESTURL = "https://api.fitbit.com/oauth2/token";
export const AUTHURL = "https://www.fitbit.com/oauth2/authorize"